.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
main
.vscode
temp/

# 忽略 gf gen pb 自动生成的控制器文件
internal/controller/admin/
internal/controller/role/
internal/controller/site/
# 保留 backend 目录
!internal/controller/backend/
